doctype html
head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Booking
  // The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page.
  script.
    var __adobewebfontsappname__="dreamweaver"
  script(src='http://use.edgefonts.net/source-sans-pro:n2:default.js' type='text/javascript')
  link(href='css/booking.css' rel='stylesheet' type='text/css')
  script(type='text/javascript' src='databaseScripts/bookings.js')
.container
  // Navigation
  header
    a(href='html/capstone_website.html')
      h4.logo
        span ZALK
    nav
      ul
        li
          a(href='/creation') LESSON
        li
          a(href='faq.html') FAQ
        li
          a(href='venues.html') VENUES
        li
          a(href='/settings') SETTINGS
        li
          a(href='/searchpage') SEARCH
        li
          a(href='../html/index.html') LOGOUT
  // Hero Section
  section#hero.hero1
  #form-main
    #messageheader
        h1 #{message}
        // Footer Section
        .footer
          p
            strong Powered by ZALK
            strong Development
          p.footer-text Zack Venables  | Andrew Nguyen | Lorraine Wong | Ken Nguyen
