doctype html
// saved from url=(0030)http://localhost:4500/settings
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Settings
  script.
    var __adobewebfontsappname__="dreamweaver"
  script(src='http://use.edgefonts.net/source-sans-pro:n2:default.js' type='text/javascript')
  link(href='css/settings.css' rel='stylesheet' type='text/css')
  title settings
// Navigation
header
  a(href='html/capstone_website.html')
    h4.logo
      span ZALK
  nav
    ul
      li
        a(href='/creation') LESSON
      li
        a(href='faq.html') FAQ
      li
        a(href='venues.html') VENUES
      li
        a(href='/settings') SETTINGS
      li
        a(href='/searchpage') SEARCH
      li
        a(href='../html/index.html') LOGOUT
#settings-title
  p.setting-title SETTINGS
  p.settings-text
    | Enter/change your profile settings below. Notifications for booking request will appear on this page!
  p
form.form-style-9(method='POST' action='http://localhost:4500/')
  ul
    li
      input.field-style.field-split.align-left(type='text' name='fullName' placeholder='Name')
      input.field-style.field-split.align-right(type='email' name='email' placeholder='Email')
    li
      input.field-style.field-split.align-left(type='text' name='phone' placeholder='Phone')
      input.field-style.field-split.align-right(type='text' name='instrument' placeholder='Instrument')
    li
      input.field-style.field-full.align-none(type='text' name='password' placeholder='Current Password')
    li
      input.field-style.field-full.align-none(type='text' name='passwordNew' placeholder='New Password')
    li
      input(type='submit' value='SUBMIT' formaction='/update')
.notifications
  span.closebtn &times;
  h1
    strong BOOKING NOTIFICATION:
    each booking in results
      h2 New lesson request for #{booking}
script.
  var close = document.getElementsByClassName("closebtn");
  var i;
  for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
  location.assign("settings.html")
  var div = this.parentElement;
  div.style.opacity = "0";
  setTimeout(function(){ div.style.display = "none"; }, 600);
  }
  }
.footer
  p
    strong Powered by ZALK
    strong Development
  p.footer-text Zack Venables  | Andrew Nguyen | Lorraine Wong | Ken Nguyen

