@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
/* Navigation */
header {
	width: 100%;
	height: 5.5%;
	background-color: #FFFFFF;
	position: fixed;
}
.logo {
	color: #000000;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
	transition: all 0.4s;
}
.logo:hover {
	color: cornflowerblue;
}
.logo span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.4s;
}
.logo span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.logo:hover span {
	padding-right: 25px;
}
.logo:hover span:after {
	opacity: 1;
	right: 0;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #000000;
	text-decoration: none;
}
ul li:hover a {
	color: cornflowerblue;
	transition: all 0.4s;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: -50px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	font-size: 30px;
}
/* Hero Section */
.hero {
	background-image: url(../images/original.jpg);
	padding-top: 300px;
	padding-bottom: 200px;
}
.hero1 {
	background-image: url(../images/original.jpg);
	padding-top: 300px;
	padding-bottom: 50px;
}
.rect {
	position: absolute;
	left: 30%;
	margin-top: -3%;
	margin-right: auto;
	width: 40%;
	height: auto;
	animation: fadeIn linear 1s;
	display: inline-block;
}
/** homescreen buttons **/
.musican {
	position: absolute;
	color: #304058;
	left: 37.5%;
	font-size: 25px;
	width: 50%;
	margin-top: 3%;
	font-weight: 900;
	animation: fadeIn linear 1s;
}
.text1 {
	position: absolute;
	left: 34.5%;
	margin-top: 6%;
	animation: fadeIn linear 1s;
}
.text2 {
	position: absolute;
	left: 52.5%;
	margin-top: 6%;
	text-align: center;
	animation: fadeIn linear 1s;
}
.students {
	position: absolute;
	color: #333333;
	left: 54%;
	margin-top: 3%;
	font-size: 25px;
	font-weight: 900;
	animation: fadeIn linear 1s;
}
.button1 {
	background-color: #304058;
	position: absolute;
	left: 38.9%;
	border: none;
	color: white;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	margin-top: 10%;
	cursor: pointer;
	border-radius: 50px;
	animation: fadeIn linear 1s;
	transition: all 0.4s;
	float: none;
	display: block;
}
.button1:hover {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
}
.button2:hover {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
}
.button2 {
	background-color: #333333;
	position: absolute;
	left: 55%;
	margin-top: 10%;
	border: none;
	color: white;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	border-radius: 50px;
	animation: fadeIn linear 1s;
	transition: all 0.4s;
}
.light {
	font-weight: bold;
	color: #717070;
}
/* More info */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #304058;
	color: white;
	text-align: center;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #fff;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #000000;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #fff;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
.footer-text {
	opacity: 0.5;
	margin-top: 1px;
}
